@import "tailwindcss";
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --shadow-glow: 0 0 5px 2px rgba(255, 255, 255, 0.12);
  --shadow-normal: 0 0 5px 2px rgba(0, 0, 0, 0.12);
}

:root {
  --pallete-color-1: #050505;
  --pallete-color-2: #1b9aaa;
  --pallete-color-3: #dddbcb;
  --pallete-color-4: #f7f4eb;
  --pallete-color-5: #ffffff;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --bg: var(--pallete-color-5);
  --text: var(--pallete-color-1);

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

[data-theme="dark"] {
  --bg: var(--pallete-color-1);
  --text: var(--pallete-color-5);
}

#root {
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  color: var(--text);
}

body {
  background-color: var(--bg);
  color: var(--text);
}